body {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F49097;
}

header {
    margin-bottom: 40px;
    padding: 0px;
    font-size: 20px;
}

.dice-container {
    display: inline-flex;
    justify-content: space-around;
    width: 500px;
}

#extra-die {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
   
}

#extra-die:hover {
    padding: 0;
    height: 200px;
    width: 200px;
    border: 2px solid #F2F5FF;
    border-radius: 10px;
    background-color: rgba(242, 245, 255, .3);
    cursor: pointer;
    margin-left: 100px;
    transition: .2s;
}

.secondbox {
    margin-left: 100px;
}


.box {
    padding: 0;
    height: 200px;
    width: 200px;
    border: 2px solid #F2F5FF;
    border-radius: 10px;
    background-color: #F2F5FF;
   }

#dot {
    height: 20px;
    width: 20px;
    color: black;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
}

 .one {
    margin-left: 90px;
    margin-top: 90px;
}



.two {
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 110px 110px 0px black; 
}

.three {
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 120px 120px 0px black,
                60px 60px 0px black;
}

.four {
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 120px 120px 0px black,
                120px 0px 0px black,
                0px 120px 0px black;   
}

.five {
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 120px 120px 0px black,
                120px 0px 0px black,
                0px 120px 0px black,
                60px 60px 0px black;  
}

.six {
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 120px 120px 0px black,
                120px 0px 0px black,
                0px 120px 0px black,
                120px 60px 0px black,
                0px 60px 0px black;
} 

button {
    margin-top: 40px;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .2s;
    letter-spacing: 2px;
}

button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

button:active {
    cursor: pointer;
    font-size: 17px;
}



